.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 3rem;
    width: 80%;
}

@media (min-width: 768px ) {
    .form {
        width: 60%;
    }
}

.form input {
    border-radius: 5px;
    border: 1px solid #000;
    padding: 5px;
}

.input-password {
  position: relative;
}

.input-password span {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.input-password input {
  width: 100%;
}

.form button {
    background-color: #e63946;
    color: #fff;
    padding: 5px;
    border: none;
    border-radius: 5px;
}

.form button:hover {
    background-color: #f4a261;
    color: #000;
}

.mensajeError {
    color: #f4a261;
    font-weight: 600;
}

.mensajeExito {
    color: green;
    font-weight: 600;
}

