header {
  position: relative;
  background-image: url('/src/assets/img/Header.jpg');
  background-size: cover;
  background-position: center;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}


header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}


header h1, header p {
  position: relative;
  z-index: 1;
}

.catalogo-pizzas {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin: 5rem 1rem;
}

@media (min-width: 768px) {
    .catalogo-pizzas {
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap;
    }
}

footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 1rem;
}

.top-footer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

@media (min-width: 768px) {
    footer {
      background-color: #000;
      color: #fff;
      text-align: center;
      padding: 1rem;
    }

    .top-footer {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }

  .sucursales,
  .contacto,
  .politicas {
    display: flex;
    flex-direction: column;
    text-align: left;
  }
}


.sucursales,
.contacto,
.politicas {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.bottom-footer {
  display: flex;
  flex-direction: column;
}

@media (min-width: 1000px) {
    .bottom-footer {
      flex-direction: row;
      justify-content: space-around;
    }
}

h6 {
  text-decoration: underline;
}

